node_modules/
dist/
*.metadata.json
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]

# Distribution / packaging
build/
dist/

# Logs
*.log

# Environments
.env
.venv
env/
venv/
